<h1>게시판 글 목록</h1>

<table>
    <tr>
        <th>제목</th>
        <th>글</th>
    </tr>
    
    <% @firsts.each do |first| %>
    <tr>
        <td><%= first.title %></td>
        <td><%= first.content %></td>
        <td><%= link_to '상세보기', first_path(first) %></td>
    </tr>
    <% end %>
</table>

<%=link_to '새 글 작성',new_first_path %> 